{:paths ["src" "resources" "data" "notebook"]

 :deps
 {com.github.seancorfield/next.jdbc {:mvn/version "1.3.1070"}
  diehard/diehard                   {:mvn/version "0.12.0"}
  org.babashka/http-client          {:mvn/version "0.4.23"}
  org.clojure/clojure               {:mvn/version "1.12.3"}
  org.clojure/core.async            {:mvn/version "1.8.741"}
  org.clojure/data.csv              {:mvn/version "1.1.0"}
  org.clojure/data.json             {:mvn/version "2.5.1"}
  org.xerial/sqlite-jdbc            {:mvn/version "3.50.3.0"}}

 :aliases
 {:antq {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}
                     org.slf4j/slf4j-simple  {:mvn/version "RELEASE"}}
         :main-opts ["-m" "antq.core"]}}}
